:root {
   --btn-color: #1DD75F;
   --text-primary: #ffffff;
   --text-secondary: #888; 
   --font-primary: 'Poppins', sans-serif;
   --bg-color-primary: #111;
   --bg-color-secondary: #000;
   --transition-hover: 250ms ease-in-out;

   --play-btn-bg: radial-gradient(white 0%, white 50%, transparent 60%);

   --lh: 1;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-thumb {
   background-color: rgba(136, 136, 136, 0.70);
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgba(136, 136, 136, 0.9);
}

body {
   background-color: var(--bg-color-primary);
}

.sidebar, .friendSidebar, .hidden {
   background-color: var(--bg-color-secondary);
   padding: 1.5em 1em;
}

/* Grid Set up */
.sidebar {
   grid-area: sidebar;
   min-width: 200px;
   max-width: 250px;
}

.nav {
   grid-area: nav;
}

.home {
   grid-area: home;
   width: 100%;
}

.friendSidebar {
   grid-area: friendSidebar;
   min-width: 225px;
   max-width: 300px;
}

.App {
   display: grid;
   grid-template-columns: 1fr 6fr 1fr;
   grid-template-rows: 50px 1fr;
   grid-template-areas: 
   'sidebar nav friendSidebar'
   'sidebar home friendSidebar';
   height: 100vh;
}


/* Fonts */
h1, h2, h3 {
   color: var(--text-primary);
   font-family: var(--font-primary);
   cursor: default;
}

a, p {
   color: var(--text-secondary);
   font-family: var(--font-primary);
}

@media (max-width: 1124px){
   .longBlock {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   }
}

@media (max-width: 64em){
   .longBlock {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }

}
